.promo{
    background-color: #DDDDDD;
    

}

.promo__text{
    padding-top: 250px;
    max-width: 560px;
    flex-shrink: 0;
}

.promo__title{
    font-size: 46px;
    line-height: 103%;
    margin-bottom: 40px;
}

.promo__content{
    display: flex;
    column-gap: 87px;
    position: relative;
}



.promo__description{
    font-size: 26px;
    margin-bottom: 90px;

}

.promo__img{
    width: 900px;
    flex-shrink: 0;
}

.promo__img img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

.btn__wrapper {
    display: flex;
}

.btn__wrapper a {
    text-align: center;
    width: 235px;
    height: 64px;
    line-height: 64px;
    background-color: #C5358C;
    color: white;
    border-radius: 3px;
    font-size: 20px;
    transition: opacity 0.3s ease;
    font-family: Open Sans;
    text-decoration: none;
}

.btn__wrapper a:hover {
    opacity: 0.7;
}

@media (max-width: 1200px) {
  .promo__content {
    align-items: stretch;
    height: 389px;
    column-gap: 32px;
    position: relative;
  }
  .promo__text {
    padding-top: 80px;
    max-width: 389px;
  }
  .promo__title {
    font-size: 30px;
    margin-bottom: 0;
  }
  .promo__description {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 253px;
  }
  .btn__wrapper a {
    width: 141px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
  }
  .promo__img {
    width: 374px;
    height: 100%;
    max-width: 374px;
    max-height: 389px;
    min-width: 0;
    min-height: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-self: stretch;
  }
  .promo__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
}