@font-face {
    font-family: 'NAMU';
    src: url('../fonts/NAMU-1990.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.container{
    max-width: 1920px; /* ширина контейнера(отступы слева и справа 280px + padding 30px) */
    margin: 0 auto;
    padding: 0 280px; 
    height: 100%;
}

.promo_container{
    max-width: 1920px;
    padding-left: 280px;
    padding-right: 0px;
    margin: auto;
}

html, body{
    margin: 0;
    padding: 0;
}

/* Применяем шрифт NAMU ко всем заголовкам */
h1, h2, h3, h4, h5, h6 {
    font-family: 'NAMU', sans-serif;
}

h1 {
    font-size: 46px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}

p{
    font-family: 'Open Sans', sans-serif;
}

